/* eslint-disable */
@charset "utf-8";

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0 !important;
  border-radius: 0;
  background: none;
  vertical-align: top;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: "'Inter', sans-serif";
};

a {
  color: inherit;
  text-decoration: none !important;
  font-family: var(--font);
}
a,
button {
  transition: background-color 200ms, opacity 200ms;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  font: inherit;
  appearance: none;
  display: block;
  color: inherit;
}
button::-webkit-inner-spin-button,
input::-webkit-inner-spin-button,
optgroup::-webkit-inner-spin-button,
select::-webkit-inner-spin-button,
textarea::-webkit-inner-spin-button,
button::-webkit-outer-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-calendar-picker-indicator,
optgroup::-webkit-outer-spin-button,
select::-webkit-outer-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
button::-webkit-search-decoration,
input::-webkit-search-decoration,
optgroup::-webkit-search-decoration,
select::-webkit-search-decoration,
textarea::-webkit-search-decoration,
button::-webkit-search-cancel-button,
input::-webkit-search-cancel-button,
optgroup::-webkit-search-cancel-button,
select::-webkit-search-cancel-button,
textarea::-webkit-search-cancel-button,
button::-webkit-search-results-button,
input::-webkit-search-results-button,
optgroup::-webkit-search-results-button,
select::-webkit-search-results-button,
textarea::-webkit-search-results-button,
button::-webkit-search-results-decoration,
input::-webkit-search-results-decoration,
optgroup::-webkit-search-results-decoration,
select::-webkit-search-results-decoration,
textarea::-webkit-search-results-decoration {
  display: none;
}
button::-ms-clear,
input::-ms-clear,
optgroup::-ms-clear,
select::-ms-clear,
textarea::-ms-clear {
  display: none;
}
button ::-webkit-input-placeholder,
input ::-webkit-input-placeholder,
optgroup ::-webkit-input-placeholder,
select ::-webkit-input-placeholder,
textarea ::-webkit-input-placeholder {
  opacity: 1;
  font-family: inherit;
}
button :-moz-placeholder,
input :-moz-placeholder,
optgroup :-moz-placeholder,
select :-moz-placeholder,
textarea :-moz-placeholder {
  opacity: 1;
  font-family: inherit;
}
button ::-moz-placeholder,
input ::-moz-placeholder,
optgroup ::-moz-placeholder,
select ::-moz-placeholder,
textarea ::-moz-placeholder {
  opacity: 1;
  font-family: inherit;
}
button :-ms-input-placeholder,
input :-ms-input-placeholder,
optgroup :-ms-input-placeholder,
select :-ms-input-placeholder,
textarea :-ms-input-placeholder {
  opacity: 1;
  font-family: inherit;
}
h1 p,
h2 p,
h3 p {
  all: initial;
}
li {
  display: block;
}
i {
  font-style: normal;
}
#root {
  max-width: 100vw;
}
body .textEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body .leftRightPadding {
  padding: 0 1.6rem !important;
}
body .topBottomPadding {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}
body .topPadding {
  padding-top: 1.6rem !important;
}
body .topBottomBigPadding {
  padding-top: 2.2rem !important;
  padding-bottom: 2.2rem !important;
}
body .topMargin {
  margin-top: 1.6rem !important;
}
body .bottomMargin {
  margin-bottom: 1.6rem !important;
}
body .bottomSmallMargin {
  margin-bottom: 1.2rem !important;
}
body .topExtraBigMargin {
  margin-top: 3.2rem !important;
}
body .topBigMargin {
  margin-top: 2.2rem !important;
}
body .topSmallMargin {
  margin-top: 1.2rem !important;
}
body .topBottomMargin {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}
body .topBottomBigMargin {
  margin-top: 2.2rem !important;
  margin-bottom: 2.2rem !important;
}
body .topBottomSmallMargin {
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}
body .bottomBigMargin {
  margin-bottom: 2.2rem !important;
}
body .fullPadding {
  padding: 1.6rem !important;
}
body .fullMargin {
  margin: 1.6rem !important;
}
body .fullSmallMargin {
  margin: 1.2rem !important;
}
body .smallGap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
body .flexCenter {
  align-items: center;
  justify-content: center;
}

body .mediumGap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
body .hiddenLink {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
body .lazyImage {
  transition: opacity 300ms !important;
}
body .lazyImage:not(.imageLoaded) {
  opacity: 0 !important;
  overflow: hidden !important;
}
body div div:first-child[style*="opacity: 0.05"],
body div div:first-child[style*="opacity: 0.5"] {
  opacity: 0 !important;
  pointer-events: none !important;
}
body div[style*="z-index: 2000000000"],
body div div[style*="z-index: 2000000000"] {
  z-index: 2147483649 !important;
}
body div[style*="z-index: 2147483649"],
body div div[style*="z-index: 2147483649"] {
  z-index: 995 !important;
}
@media screen and (max-height: 600px) {
  body div[style*="z-index: 2000000000"],
  body div div[style*="z-index: 2000000000"] {
    transform: translateY(-20px) scale(0.7) !important;
  }
}
.reCaptchaPopup .popupContainerStyles {
  width: initial !important;
  margin: 0 auto !important;
  background: transparent !important;
}
#g-recaptcha:empty {
  display: none !important;
}
.selectWrapper.hidden {
  display: none !important;
}
.selectWrapper {
  line-height: 1;
}
#grecaptchaPopup {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647 !important;
  background: rgba(0, 0, 0, 0.8) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
#turnstile-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.8) !important;
}
#turnstile-container:empty {
  display: none;
}
#g-recaptcha[data-focus-on-hidden] {
  pointer-events: initial !important;
}
html .second-hoory-iframe:not(.is-2d-active) {
  pointer-events: none;
}
html #blip-chat-open-iframe:not(.opened) {
  display: none !important;
}
